# Logs
logs
*.log

# Dependency directory
node_modules

# TestCafe screenshots directory
tests/screenshots

*.DS_Store
.*
!.travis.yml
!.editorconfig
!.eslintrc.json
*.xml
.settings
downloads
*~
.idea
.vscode
client_secret.json
